:root {
    --font-xl: clamp(0.8rem, 1.3vw + 1rem, 8rem);
    --font-md: clamp(1rem, 1vw + 0.3rem, 3rem);
    --font-sm: clamp(1rem, 1vw + 0.5rem, 3rem);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}


/* header */

header {
    width: 100%;
    height: 400px;
    background-image: url(loopstudios-landing-page-main/images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    width: 100%;
}

.header-nav>ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    margin-right: 15px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    height: 200px;
    width: 450px;
    margin-left: 16%;
}

.header-text>p {
    margin-left: 20px;
    font-size: var(--font-xl);
    font-weight: 100;
}


/* prmeira section */

.section-vr {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-vr {
    display: flex;
}

.text-vr {
    width: 500px;
    margin-top: auto;
    margin-left: 100px;
}

.text-vr>p {
    color: black;
    font-size: var(--font-md);
}

.text-vr>p:nth-child(1) {
    color: blue;
    font-size: var(--font-xl);
}

.text-vr>p:nth-child(2) {
    color: blue;
    font-size: var(--font-xl);
    margin-bottom: 40px;
}


/* Terceira section */

.content-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1110px;
    margin: auto;
}

.content-img>div:nth-child(n+5) {
    margin-top: 30px;
}

.titulo {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
}

.titulo>input {
    width: 130px;
    background-color: white;
    color: black;
    letter-spacing: 2px;
    font-size: var(--font-sn);
}

.titulo>p {
    color: black;
    font-size: var(--font-xl);
}


/* footer */

footer {
    display: flex;
    background-color: black;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    margin-top: 100px;
}

.primeira-linha>ul {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.primeira-linha>ul>li {
    margin-right: 35px;
}

.primeira-linha>p {
    font-size: var(--font-md);
}

.segunda-linha>ul {
    display: flex;
    margin-bottom: 10px;
}

.imagem>img {
    margin-right: 20px;
}